body {
  font-family: "Avenir Next";
}
.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
.main{
background-color:#bdf7f1;
height: 600px;
}
.footer{
background-color:#ceccf3;
height: 270px;
}
img {
    /* Gantikan height ke 50px */
    height:50px;
    float:right;
    /* Gantikan width ke 70px */
    width:70px;
    padding:20px 40px;
  }

  li {
    list-style: none;
    float:left;
    padding:33px 20px;
 }

.header-logo {
  float: left;
  font-size: 36px;
  padding:20px 40px;
} 

  
